<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>      
    
        <div class="container">
            <div class="starter-template">
            <ui:insert name="content" >
                <ui:include src="index.xhtml"/>
            </ui:insert>
            </div>
        </div>
        
        <div> 
            <h4>Wprowadź dane:</h4>
            <h:form>
                
                <h:outputText value="Dane użytkownika:"/><br></br>
                <h:outputText value="Imię"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.userDto.firstName}"/><br></br>
                <h:outputText value="Nazwisko"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.userDto.lastName}"/><br></br>
                <h:outputText value="Pesel"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.userDto.pesel}"/><br></br><br></br>

                <h:outputText value="Miejsce zmieszkania:"/><br></br>
                <h:outputText value="Miasto"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.addressDto.country}"/><br></br>
                <h:outputText value="Kod pocztowy"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.addressDto.zipCode}"/><br></br>
                <h:outputText value="Ulica"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.addressDto.street}"/><br></br>
                <h:outputText value="Kraj"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.addressDto.street}"/><br></br><br></br>  

                <h:outputText value="Dane samochodu:"/><br></br>
                <h:outputText value="Nr rejestracyjny"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.carDataDto.registrationNr}"/><br></br>
                <h:outputText value="Nr VIN"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.carDataDto.vinNr}"/><br></br>
                <h:outputText value="Data 1 rejestracji(yyy-mm-dd)"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.carDataDto.firstRegistration}">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                </h:inputText><br></br>            
                <h:outputText value="Rok produkcji(yyy-mm-dd)"/><br></br>
                <h:inputText value="#{insuranceManagedBean.formDto.carDataDto.carProductionDate}">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                </h:inputText><br></br>               

                <h:outputText value="Marka"/><br></br>            
                <h:inputText value="#{insuranceManagedBean.formDto.carTypeDto.brand}"/><br></br>   
                <h:outputText value="Model"/><br></br>            
                <h:inputText value="#{insuranceManagedBean.formDto.carTypeDto.model}"/><br></br>  

                <h:outputText value="Nr silnika"/><br></br>            
                <h:inputText value="#{insuranceManagedBean.formDto.engineDto.engineNumber}"/><br></br>             
                <h:outputText value="Rok produkcji silnika(yyy-mm-dd)"/><br></br>            
                <h:inputText value="#{insuranceManagedBean.formDto.engineDto.engineProductionDate}">              
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                </h:inputText><br></br>           
                
                <h:commandButton value="dodaj" action="#{insuranceManagedBean.save()}"/>

            </h:form>        
        </div>
    </h:body>
</html>

