<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
    
        <div class="container">
            <div class="starter-template">
            <ui:insert name="content" >
                <ui:include src="index.xhtml"/>
            </ui:insert>
            </div>
        </div>        
    
        <div>     
            <h4>Wyświetl userów:</h4>

            <h:dataTable styleClass="table table-striped" value="#{applicationManagedBean.usersDto}" var="user">           
                <h:column>                    
                    <f:facet name="header">Imię</f:facet>
                        #{user.firstName}
                </h:column>
                <h:column>                    
                    <f:facet name="header">Nazwisko</f:facet>
                        #{user.lastName}
                </h:column>
                <h:column>                    
                    <f:facet name="header">Pesel</f:facet>
                        #{user.pesel}
                </h:column>
                <!--<h:column>                    
                        <f:facet name="header">Dodaj do koszyka</f:facet>                
                        <h:form>                                    
                            <h:commandButton value="dodaj" action="#{bookManagedBean.addToShoppingCart(book)}"/>
                        </h:form>
                    </h:column>
                -->
            </h:dataTable>
        </div>
    </h:body>
</html>

